reservation-service/src/main/resources/ResModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified"
    vc:minVersion="1.0" vc:maxVersion="1.1" targetNamespace="www.ftn.com/reservationservice/model"
    xmlns="www.ftn.com/reservationservice/model">

    <xs:simpleType name="id">
        <xs:restriction base="xs:long"/>
    </xs:simpleType>
    <xs:simpleType name="name">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50"/>
            <xs:minLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="surname">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="email">
        <xs:restriction base="xs:string">
            <xs:pattern value="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="password">
        <xs:restriction base="xs:string">
            <xs:minLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="verified">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="dateOfBirth">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="state">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="longitude" type="xs:double"/>
            <xs:element name="latitude" type="xs:double"/>
            <xs:element name="state">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="64"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="town">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="street">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="128"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="street_number">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="postal_code" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="telephone">
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="cardNumber">
        <xs:restriction base="xs:string">
            <xs:length value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="expDate">
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="csv">
        <xs:restriction base="xs:positiveInteger">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="description">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="freeCancelation">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="daysToCancel">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="price">
        <xs:restriction base="xs:double">
            <xs:minExclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="included">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="numberOfBeds">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="balcony">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="images">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
    <xs:simpleType name="rating">
        <xs:restriction base="xs:double">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="5"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="completed">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="active">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:complexType name="AdditionalService">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="name" type="name"/>
            <xs:element name="price" type="price"/>
            <xs:element name="included" type="included"/>
        </xs:sequence>
    </xs:complexType>
     <xs:complexType name="AccommodationUnit">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="numberOfBeds" type="numberOfBeds"/>
            <xs:element name="balcony" type="balcony"/>
            <xs:element name="price" type="AccUnitPrice"/>
            <xs:element name="description" type="description"/>
            <xs:element name="rating" type="rating"/>
            <xs:element name="image" type="images" maxOccurs="unbounded"/>
            <xs:element name="additionalServices" type="AdditionalService" maxOccurs="unbounded"
                minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccUnitPrice">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="startDate" type="xs:dateTime"/>
            <xs:element name="endDate" type="xs:dateTime"/>
            <xs:element name="price" type="xs:double"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccommodationObject">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="name" type="name"/>
            <xs:element name="address" type="address"/>
            <xs:element name="description" type="description"/>
            <xs:element name="category" type="Category"/>
            <xs:element name="freeCancelation" type="freeCancelation"/>
            <xs:element name="daysToCancel" type="daysToCancel"/>
            <xs:element name="type" type="Type"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="accommodationsUnitList"
                type="AccommodationUnit"/>
            <xs:element name="additionalServices" maxOccurs="unbounded" minOccurs="0"
                type="AdditionalService"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Category">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="name" type="name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Type">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="name" type="name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Message">
        <xs:sequence>
            <xs:element name="sender" type="User"/>
            <xs:element name="content" type="xs:string"/>
            <xs:element name="date" type="xs:dateTime"/>
            <xs:element name="receiver" type="User"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="User" abstract="true">
        <xs:sequence>
            <xs:element name="Id" type="id"/>
            <xs:element name="name" type="name"/>
            <xs:element name="surname" type="surname"/>
            <xs:element name="email" type="email"/>
            <xs:element name="password" type="password"/>
            <xs:element name="verified" type="verified"/>
            <xs:element name="dateOfBirth" type="dateOfBirth"/>
            <xs:element name="state" type="state"/>
            <xs:element name="address" type="address"/>
            <xs:element name="role">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Administrator"/>
                        <xs:enumeration value="Agent"/>
                        <xs:enumeration value="EndUser"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="creditCards" maxOccurs="unbounded" minOccurs="0" type="CreditCard"> </xs:element>
            <xs:element name="telephone" type="telephone"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Administrator">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="User">
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="postedComments"
                            type="Comment"/>
                        <xs:element name="accommodations" type="AccommodationObject"/>
                        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0"
                            name="endUsers" type="User"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="agentUsers"
                            type="User"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Agent">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="User">
                    <xs:sequence>
                        <xs:element name="accomodationList" maxOccurs="unbounded"
                            type="AccommodationUnit" minOccurs="0"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="commentsList"
                            type="Comment"/>
                        <xs:element name="pmbr">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="8"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="EndUser">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="User">
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="commentsList"
                            type="Comment"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="reservationsList"
                            type="Reservation"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="CreditCard">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="csv" type="csv"/>
            <xs:element name="expDate" type="expDate"/>
            <xs:element name="cardNo" type="cardNumber"/>
            <xs:element name="surname" type="surname"/>
            <xs:element name="name" type="name"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Comment">
        <xs:sequence>
            <xs:element name="id" type="id"/>
            <xs:element name="userID" type="id"/>
            <xs:element name="accommodationUnitID" type="id"/>
            <xs:element name="text">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="256"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="commentDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Reservation">
        <xs:sequence>
            <xs:element name="newElement" type="id"/>
            <xs:element name="userID" type="id" nillable="true"/>
            <xs:element name="reservationDate" type="xs:date"/>
            <xs:element name="accUnit" type="AccommodationUnit"/>
            <xs:element name="price" type="price"/>
            <xs:element name="beginDate" type="xs:date"/>
            <xs:element name="endDate" type="xs:date"/>
            <xs:element name="completed" type="xs:boolean"/>
            <xs:element name="active" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
